<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="firstdatefail">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>ADMIN</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #fails-list              { margin-bottom:30px; }
        .onefail {
            border-radius: 25px;
            padding:15px 15px 5px; 
            margin-bottom:10px
        }

        .onefail-odd {
            background-color: rgba(0,255,0,0.1);            
        }

        .onefail-even {
            background-color: rgba(0,255,255,0.1);            
        }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script><!-- load angular -->
    <script src="admin.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL FAILS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND FAILS COUNT -->
        <div class="jumbotron text-center">
            <h1>Moderar las anecdotas recibidas</h1>
            <h3>Aún te quedan <span class="label label-info">{{ fails.length }}</span> anecdotas para moderar.</h3>
            <h3><span style="color:green">Añade el tuyo ;-)</span></h3>
        </div>

        
        <div class="row">
        

            <!-- FORM TO CREATE FAILS -->
            <div id="fail-form" class="col-md-4">
                En la derecha podrás moderar las anecdotas
            </div>

            <!-- FAILS LIST -->
            <div id="fails-list" class="col-md-7 col-md-offset-1">

                        
                <!-- LOOP OVER THE FAILS IN $scope.fails -->
                <div class="onefail row" ng-class-odd="'onefail-odd'" ng-class-even="'onefail-even'" ng-repeat="fail in fails">
                    <div class="col-md-8">                        
                        <blockquote>{{ fail.text }}</blockquote>     
                    </div>
                    <div class="col-md-4 center-block" style="vertical-align:middle">
                        <button class="btn-success btn-md" type="submit" ng-click="approve(fail._id)"><span class="glyphicon glyphicon-thumbs-up"></span> Aceptar </button>
                        <button class="btn-danger btn-md" type="submit" ng-click="reject(fail._id)"><span class="glyphicon glyphicon-thumbs-down"></span> Rechazar </button>
                    </div>

                </div>

            </div>
        </div>

    </div>

</body>
</html>